<div class="appContainer">
    <div class="logoBlock"><img src="../../assets/retelzy-logo.png"></div>
    <div class="labelsBlock">
        <ul>
            <li [routerLink]="['/main']" ><label class="label-home lbl-m-r-10">Home</label></li>
            <li ><label class="label-dashboard lbl-m-r-10">Dashboard</label></li>
            <li [routerLink]="['/new-timesheet']"><label class="label-settings lbl-m-r-10">New Timesheet</label></li>
            <li [routerLink]="['/timesheet']"><label class="label-settings lbl-m-r-10">Get Timesheet</label></li>
            <li [routerLink]="['/timesheet-report']"><label class="label-settings lbl-m-r-10">Get Timesheet Report</label></li>
            <li [routerLink]="['/configure']"><label class="label-settings lbl-m-r-10">Configure App</label></li>
            <li (click)="logout()"><label class="label-settings lbl-m-r-10">Logout</label></li>
        </ul>
    </div>
</div>