.appContainer {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #827ffe;
    width: 14%;
}

.label-home::before {
    content:"\f015";
    font-family: FontAwesome;
}
.label-dashboard::before {
    content: "\f0e4";
    font-family: FontAwesome;
}
.label-settings::before {
    content: "\f013";
    font-family: FontAwesome;
}
.logoBlock {
    padding: 13px 25px;
    text-align: center;
}
.logoBlock img{
    max-width: 150px;
}
.labelsBlock {
    margin-top: 20px;
}
.labelsBlock ul li {
    padding: 10px 15px;
    border-bottom: 1px solid #7b64e6;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    
}
.labelsBlock ul li:last-child {
    border-bottom: none;
}

.lbl-m-r-10::before {
    margin-right: 5px;
}
.labelsBlock ul li:hover {
    background-color:#403866;
    color: white;
}
.labelsBlock ul li label {
    cursor: pointer;
}
.labelsBlock ul li:focus {
    outline: 0;
}