<div @myInsertRemoveTrigger class="configContainer">
    <!-- <div class="addNewBlock pdng">
        <button class="login100-form-btn btn-mn-cntr-ra">Add New</button>
    </div> -->

    <!--environments Details starts here-->
    <div class="addNewBlock">
        <div class="hdr-cntr pdng fs-18">Environment Details</div>
        <div class="pdng" id="addEnvModule">
            
            <div>
                <div class="wrap-input100 validate-input m-b-16 rmvbck_adbrdr wdth-30 dsplInline">
                    <input class="input100" placeholder="Name" type="text" id="addEnv">
                </div>
                <button class="login100-form-btn btn-mn-cntr-ra dsplInline m-l-30" (click)="addNewEnv()">Add New</button>
            </div>
            <div *ngFor="let  envData of envDatas index as i" class="m-b-20">
                <form (ngSubmit)="onSubmit(i, 'form'+i)" id = "form{{i}}">
                    <div class="envTypeMn_box">
                        <div class="fs-18 addedProj">
                            <div class="fs-16">{{envData.envName}}</div>
                            <div class="rightDrpIcon"></div>
                        </div>
                        <div class="insideContainerDetails cntntPdng">
                            <div>
                                <div class="fs-16 m-t-3">UserId</div>
                                <div class="wrap-input100 validate-input m-b-16 rmvbck_adbrdr frmInput">
                                    <input  class="input100"  placeholder="Name" name = "userId{{i}}" type="text" value='{{envData.envDetails.dbUserId}}' >
                                </div>
                            </div>
                            <div>
                                <div class="fs-16 m-t-3">Password</div>
                                <div class="wrap-input100 validate-input m-b-16 rmvbck_adbrdr frmInput">
                                    <input class="input100"  placeholder="Name" type="text" name = "password{{i}}" value='{{envData.envDetails.dbPwd}}'>
                                </div>
                            </div>
                            <div>
                                <div class="fs-16 m-t-3">DB Server Name</div>
                                <div class="wrap-input100 validate-input m-b-16 rmvbck_adbrdr frmInput">
                                    <input class="input100"  placeholder="Name" type="text" name = "serverName{{i}}" value='{{envData.envDetails.dbServerName}}'>
                                </div>
                            </div>
                            <div>
                                <div class="fs-16 m-t-3">Port Number</div>
                                <div class="wrap-input100 validate-input m-b-16 rmvbck_adbrdr  frmInput">
                                    <input class="input100"  placeholder="Name" type="text" name = "portNumber{{i}}" value='{{envData.envDetails.portNo}}'>
                                </div>
                            </div>
                            <div>
                                <div class="fs-16 m-t-3">Database Name</div>
                                <div class="wrap-input100 validate-input m-b-16 rmvbck_adbrdr   frmInput">
                                    <input class="input100"  placeholder="Name" type="text" name = "databaseName{{i}}" value='{{envData.envDetails.dbName}}'>
                                </div>
                            </div>
                            <div>
                                <div class="fs-16 m-t-3">Data Type</div>
                                <div class="inptCheckBox m-t-10 wdth-50-per">
                                    <div>
                                        <span class="m-r-8">JSON</span>
                                        <input class="" type="radio"  value="JSON" name = "dataType{{i}}" [checked]='envData.envDetails.dataType=="JSON"'>
                                    </div>
                                    <div>
                                        <span class="m-r-8">XML</span>
                                        <input class=""  type="radio" value="XML" name = "dataType{{i}}" [checked]='envData.envDetails.dataType=="XML"'>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="fs-16 m-t-3">Database Type</div>
                                <div class="inptCheckBox m-t-10 wdth_db_type">
                                    <div>
                                        <span class="m-r-8 m-t-mi-3">Oracle</span>
                                        <input class="" value="Oracle" type="radio" name = "databaseType{{i}}" [checked]='envData.envDetails.databaseType=="Oracle"'>
                                    </div>
                                    <div>
                                        <span class="m-r-8 m-t-mi-3">Sql Server</span>
                                        <input class=""  value="sqlserver" type="radio" name = "databaseType{{i}}" [checked]='envData.envDetails.databaseType=="sqlserver"'>
                                    </div>
                                    <div>
                                        <span class="m-r-8 m-t-mi-3">DB2</span>
                                        <input class=""  value="db2" type="radio" name = "databaseType{{i}}" [checked]='envData.envDetails.databaseType=="db2"'>
                                    </div>
                                </div>
                            </div>
                            <div class="wdth-100 dis-block-div">
                                <button class="login100-form-btn btn-mn-cntr-ra dsplInline pdng-10-20 float-r btn-success" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <!--environments Details ends here-->

    <!--Module Details starts here-->
    <div class="addNewBlock">
        <div class="hdr-cntr pdng fs-18 my-element1">Module Details</div>
        <div class="pdng" id="addModule">
            <div>
                <div class="wrap-input100 validate-input m-b-16 rmvbck_adbrdr wdth-30 dsplInline">
                    <input class="input100" name="username" placeholder="Name" type="text" id="addModText">
                </div>
                <button class="login100-form-btn btn-mn-cntr-ra dsplInline m-l-30" (click)="addModule()">Add Module</button>
            </div>
            <div *ngFor="let modData of modDatas index as j" class="m-b-20">
                <div class="envTypeMn_box">
                    <div class="fs-18 addedProj">
                        <div class="fs-16">{{modData.modName}}</div>
                        <div class="rightDrpIcon"></div>
                    </div>
                    <div class="display-flex flex-wrap cntntPdng wdth-100-per">
                        <div class="display-flex">
                            <input name="username" class="cstm-input-fields" placeholder="Table Name" type="text" id='addtable{{j}}'>
                            <button class="login100-form-btn btn-mn-cntr-ra dsplInline m-l-30 pdng-10-30" (click)="addTableinList(j)">Add Table</button>
                        </div>

                        <div class="addTableList display-flex flex-wrap m-t-30">
                            <div *ngFor="let table of modData.modDetails index as k" class="tablelists wdth-32" (click)="deleteTable(j,k)">
                                <span>{{table}}</span>
                            </div>
                        </div>
                        <div class="wdth-100 dis-block-div">
                            <button class="login100-form-btn btn-mn-cntr-ra dsplInline pdng-10-20 float-r btn-success">Save</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Module Details ends here-->

</div>



<!--testing-->


<!-- <pre style="margin-left: 20%;">{{envDatas|json}}</pre> -->