<div class="timesheetReportContainer">
    <!-- <span style="position: relative;bottom: 10px;margin-left:10px;">Client Name:</span>
    <input type="text" [(ngModel)]="clientName" /> -->
    <div class="form-group" style="width: 20%;
    display: inline-block;
    margin-right: 1%;">
        <label for="usr">Client Name:</label>
        <select class="form-control" [(ngModel)]="clientName">
            <option value="">Select</option>
            <option *ngFor="let item of clientNameList">{{item}}</option>
        </select>
    </div>
    <div class="form-group" style="width: 20%;
    display: inline-block;
    margin-right: 1%;">
        <label for="usr">Start Date:</label>
        <input type="date" class="form-control" [(ngModel)]="startDate">
    </div>
    <div class="form-group" style="width: 20%;
    display: inline-block;
    margin-right: 1%;">
        <label for="usr">End Date:</label>
        <input type="date" class="form-control" [(ngModel)]="endDate">
    </div>
    <!-- <jqxDateTimeInput [value]="null" [width]="200" [height]="30" [showTimeButton]="false" [template]="'default'"
        (onChange)="startDate($event)">
    </jqxDateTimeInput>
    <span style="position: relative;bottom: 10px;">End Date:</span>
    <jqxDateTimeInput [value]="null" [width]="200" [height]="30" [showTimeButton]="false" [template]="'default'"
        (onChange)="endDate($event)">
    </jqxDateTimeInput> -->

    <button class="btn btn-primary btn-sm" (click)="onGetTimesheetReport()">Get Timesheet
        Report</button>

    <jqxGrid #myGrid [hidden]="showStatus" [columnsheight]="40" [height]="400" [width]="getWidth()"
        [source]="dataAdapter" [showstatusbar]="true" [showaggregates]="true" [statusbarheight]="50" [columns]="columns"
        [columnsresize]="true">
    </jqxGrid>
</div>