<div class="newTimesheetContainer">
    <span style="position: relative;bottom: 10px;margin-left:10px;">Start Date:</span>
    <jqxDateTimeInput [value]="null" [width]="200" [height]="30" [showTimeButton]="false" [template]="'default'"
        (onChange)="startDate($event)">
    </jqxDateTimeInput>
    <span style="position: relative;bottom: 10px;">End Date:</span>
    <jqxDateTimeInput [value]="null" [width]="200" [height]="30" [showTimeButton]="false" [template]="'default'"
        (onChange)="endDate($event)">
    </jqxDateTimeInput>

    <button class="btn btn-primary btn-sm" (click)="onGenerate()" style="margin-bottom: 21px;">Generate</button>
    <button class="btn btn-primary btn-sm" (click)="onSave()" style="margin-bottom: 21px;margin-left: 10px;">Save</button>

    <jqxGrid #myGrid [hidden]="showStatus" [columnsheight]="60" [height]="500" [width]="getWidth()" [source]="dataAdapter"
        [showstatusbar]="true" [editable]="true" [showaggregates]="true" [statusbarheight]="50" [columns]="columns"
        [rendertoolbar]="rendertoolbar" [showtoolbar]="true" [columnsresize]="true" [selectionmode]="'multiplerows'"
        (onCellvaluechanged)="cellBeginEditEvent($event)">
    </jqxGrid>
</div>