<div class="mainPageContainer">
    <div class="header"></div>
    <div class="container">
        <div>
            <div class="cH">
                <h2>Basic Information</h2>
                <div></div>
            </div>
            <div class="cD">
                <div>
                    <img src="../../assets/icons/profile-pic-dummy.jpg">
                </div>
                <div><input type="file"/></div>
                <div>
                    <span></span>
                    <input type="text" name="name">
                </div>   
                <div>
                    <span></span>
                    <input type="text" name="dob">
                </div> 
                <div>
                    <span></span>
                    <input type="text" name="contactNumber"> 
                </div>
                <div>
                    <span></span>
                    <input type="email" >
                </div>    
            </div>
        </div>
        <div></div>
    </div>
</div>